.vaciarCarrito{
    width: 7vw;
    height: 5vh;
}
.cart {
    display: flex;
    justify-content: center;
    
}
.textAlign{
    text-align: right;
}
.cartIsEmpty{
    text-align: center;
    font-size: 3rem;
}