.vaciarCarrito{
    width: 7vw;
    height: 5vh;

}
.cart {
    display: flex;
    justify-content: flex-start;
    padding-top: 56px;
    width: 60%;
    margin: auto;
    
}
.textAlign{
    text-align: right;
    margin-right: 15px;
   
   
}
.cartIsEmpty{
    text-align: center;
    font-size: 3rem;
    padding-top: 56px ;
}
.cartCard{
    display: flex;
    height: 20vh;
    
}
.cardHeader img{
    height: 20vh;
    border-radius: 5px;
    border: 1px rgb(211, 211, 211) solid;
    

}
.cardHeader{
    margin: 1rem;
}

.cardMain > h3{
    font-size: 1.2vw;

}
.cardMain p{
    line-height: 1rem;
}
.cardMain{
    margin: 1rem;
}
@media screen and (max-width: 600px) {
    .cartCard{
        display: flex;
        flex-direction: column;
        height: auto;
        width: 100%;
    }
    .cardHeader img{
        height: auto;
        width: 50%;
        border-radius: 5px;
        border: 0px;

    }
    .cardHeader{
        margin: auto;
        display: flex;
        justify-content: center;
        padding-bottom: 1rem;
    }
    .cardMain{
        margin: 0px;
    }
    .cardMain > h3{
        font-size: 1.2rem;
    }
    .cardMain p{
        line-height: 1rem;
    }
    .cart{
        display: flex;
        flex-direction: column;
        padding-top: 0px;
        justify-content: center;
        
    }
    .textAlign{
        text-align: center;
        margin-right: 0px;
    }
    .cartIsEmpty{
        text-align: center;
        font-size: 3rem;
        padding-top: 0px ;
    }
}