.ItemDetail {
  display: flex;
  justify-content: center;
}
.item {
  height: 100%;
}
.item img {
  height: 90vh;
}

.detail {
  background-color: var(--color-detail);
  width: 25vw;
  height: 40vh;
  align-self: center;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem;
  text-align: center;
}

.priceBuy{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: auto;
}
.priceBuy p {
    margin: auto;
    padding-right: 3rem;
    font-weight: 600;
    font-size: 24px;
}