.ItemDetail{
    display: flex;
    justify-content: center;

}


.detail{
    background-color: var(--color-detail);
    width: 25vw;
    height: 40vh;
    align-self: center;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    right: 13%;
   padding: 1rem;
    
}
.detailName{
    padding-top: 3vh;
}