.ItemListContainer{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    width: 80%;
    padding-top: 56px;
}
.row{
    display: flex;
    gap: 50px;
    justify-content: center;
}

.loading{
    width: 100vw;
    display: flex;
    justify-content: center;
    padding-top: 56px;
}

