.ItemListContainer{
    display:flex;
    justify-content: center;
    margin: auto;
    width: 100%;
    padding-top: 56px;
}
.row{
    gap: 30px;
    justify-content: center;
}

.loading{
    width: 100vw;
    display: flex;
    justify-content: center;
    padding-top: 56px;
}

