.item{
    width: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 0 21%;
}
.item p{
   font-size: 1vw;
   line-height: 1.5rem;
}
.itemArticleHeader img {
    width: auto;
    height: 50vh;
}
.lastStock{
    color: red;
    font-size: 0.8rem;
    padding: 0;
    animation-name: blink;
    animation-duration: 0.725s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
    
}
