.infoColor{
    color: var(--color-detail);
}

.card{
    border:none;
    overflow: hidden;
}
.lastStock{
    color: red;
    font-size: 0.8rem;
    padding: 0;
    animation-name: blink;
    animation-duration: 0.725s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    
}
.imgHover{
    transition: all 0.75s ease-in-out;
    
}
.imgHover:hover{
    transform: scale(1.1);
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
    
}
