.checkout{
    margin-top: 56px;
}
.orderSuccesse{
    margin-top: 56px;
}
.form {
    position: relative;
    padding-top: 10vh;
    width: 35%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.myInput{
    border:none ;
    border-bottom: 1px solid black;
    outline: none;
}

.form div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.divError{
    display: flex;
    flex-direction: column;
    
}
.msgError {
    
    color: red;
    font-size: .8rem;
    text-overflow: ellipsis;
    line-height: 10px;
    

}
.orderBackground{
    height: 100vh;
    background-image: url(/public/backgroundOrder.png);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    font-size: calc(26px /100%);
    background-position:  80% 50%;
}
.orderBackground h1{
    font-size: calc(32px / 100%);
    font-weight: bolder;
}
.orderIdSpan{
    font-weight: bold;
   font-size:  calc(32px / 100%);
}

@media screen and (max-width: 1200px) {
    .form {
        width: 100%;
        
    }
  }