.checkout{
    margin-top: 56px;
}
.orderSuccesse{
    margin-top: 56px;
}
.form {
    position: relative;
    padding-top: 10vh;
    width: 35%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.myInput{
    border:none ;
    border-bottom: 1px solid black;
    outline: none;
}

.form div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.divError{
    display: flex;
    flex-direction: column;
    
}
.msgError {
    
    color: red;
    font-size: .8rem;
    text-overflow: ellipsis;
    line-height: 10px;
    

}
@media screen and (max-width: 1200px) {
    .form {
        width: 100%;
        
    }
  }