@import 'bootstrap/dist/css/bootstrap.min.css';
@import './components/ItemCount/ItemCount.css';
@import './components/ItemDetail/ItemDetail.css';
@import './components/ItemListContainer/ItemListContainer.css';
@import './components/Item/Item.css';
@import './components/CartWidget/CartWidget.css';
@import './components/NavBar/NavBar.css';
@import './components/Cart/Cart.css';
@import './components/Button/button.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import './components/Cover/cover.css';
@import './components/Button/buttonPrimary.css';
@import './components/Checkout/checkout.css';

:root{
  --color-detail : #e4a9bbbf;
  width: 100vw;
  overflow-x: hidden;
}
body{
  font-family: 'Montserrat', sans-serif;
/* font-family: 'Roboto Slab', serif; */
}


::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #e1e1e1;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}
::-webkit-scrollbar-thumb:active {
  background: #000000;
}
::-webkit-scrollbar-track {
  background: #666666;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: #666666;
}
::-webkit-scrollbar-track:active {
  background: #333333;
}
::-webkit-scrollbar-corner {
  background: transparent;
}

