
.count {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}
.counter{
    border: none;
    background-color: transparent;
    width: 3.5vw;

}

.wrong{
    color: red;
    animation-name: blink;
    animation-duration: 0.3s;
    animation-iteration-count: infinite;
}

.addToCartText{
    font-size: 1vw !important;
    font-weight: bolder;
    color: rgb(0, 0, 0);
    
}
.addToCartPosition{
    margin-top: 1rem;
}
.addItems{
    display: flex;
    font-size: 32px;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 1440px) {
    .addToCartPosition{
        margin-top: 0rem;
    }
    .addToCartText{
        font-size: 0.8vw !important;
    }
    
}