
.count {
    width: 100%;
}
.counter{
    border: none;
    background-color: transparent;
    width: 3.5vw;

}

.wrong{
    color: red;
    animation: forwards .9s wrongAnimation  ;
    position: relative;
}
@keyframes wrongAnimation {
    0%{
        transform: translate(-5px);
    }
    20%{
        transform: translate(5px)
    }
    60%{
        transform: translate(-5px)
    }
    100%{
        transform: translate(0);
        
    }

    
}
