
.count {
    width: 100%;
}
.counter{
    border: none;
    background-color: transparent;
    width: 3.5vw;

}

.wrong{
    color: red;
    animation-name: blink;
    animation-duration: 0.3s;
    animation-iteration-count: infinite;
}

